@page
@model ProfileApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />

<h2>پروفایل ها</h2>

<p>
    <a asp-page="profile/create" class="btn btn-primary w-25">ایجاد پروفایل جدید</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">City</th>
            <th scope="col">Province</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var profile in Model.ProfileList)
            {
                <td>@profile.FirstName</td>
                <td>@profile.LastName</td>
                <td>@profile.CityId</td>
                <td>@profile.ProvinceId</td>
            }
        </tr>
       
    </tbody>
</table>

